@font-face {
    font-family: "yizhiqingshu";
    src: url("../font/yizhiqingshu/yizhiqingshu.eot"); /* IE9 */
    src: url("../font/yizhiqingshu/yizhiqingshu.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/yizhiqingshu/yizhiqingshu.woff") format("woff"), /* chrome、firefox */
    url("../font/yizhiqingshu/yizhiqingshu.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("../font/yizhiqingshu/yizhiqingshu.svg#yizhiqingshu") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceHanSerifSC";
    src: url("../font/SourceHanSerifSC/SourceHanSerifSC.eot"); /* IE9 */
    src: url("../font/SourceHanSerifSC/SourceHanSerifSC.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/SourceHanSerifSC/SourceHanSerifSC.woff") format("woff"), /* chrome、firefox */
    url("../font/SourceHanSerifSC/SourceHanSerifSC.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("../font/SourceHanSerifSC/SourceHanSerifSC.svg#SourceHanSerifSC") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

.section .main{
    text-align: center;
}


.section  .swiper-container {
    width: 100%;
    height: 100%;
}
.section .swiper-container .swiper-slide{
    /*padding-top: 4rem;*/
}
.section .swiper-container .swiper-slide .column p{
    color: #ffffff;
}
.section .swiper-pagination {
    bottom: .37rem;
}

.section .swiper-pagination .swiper-pagination-bullet {
    /*width: .16rem;*/
    /*height: .16rem;*/
    margin: 0 .03rem;
    border: 1px solid #ffffff;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
}

.section .swiper-pagination .swiper-pagination-bullet-active {
    background: #ffffff;
}

.column {
    display: inline-block;
    padding-top: 4rem;
    writing-mode: vertical-rl;
    text-align: left;
}

.column p {
    font-size: .26rem;
    color: #000000;
    line-height: .48rem;
    font-family: SourceHanSerifSC, sans-serif;
    letter-spacing: -.05rem;
}
